#Main {
    max-width: 400;
    background-color: white;
    padding: 4;
    border-radius: 10;
    border-color: black;
    border-width: 4;
}

#TextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#TextContainer > #ClientName {
    font-size: 20;
}

#TextContainer > #MoneyReward {
    padding: 8;
    border-radius: 5;
    background-color: darkgreen;
    color: white;
    -unity-font-style: bold;
}

#ButtonContainer {
    display: flex;
    flex-direction: row;
}

#ButtonContainer > Button {
    height: 25;
    width: 100;
    border-radius: 10;
    color: white;
    margin-top: 20;
}

#ButtonContainer > #AcceptButton {
    background-color: green;
}

#ButtonContainer > #DeclineButton {
    background-color: red;
}

.command_accepted {
    margin-top: 10;
}

#ShipButton {
    display: none;
    font-size: 20px;
    border-width: 0px;
    border-color: transparent;
    border-radius: 10;
    background-color: green;
    color: white;
    margin-top: 20px;
    transition: all ease-in-out 300ms;
}

#ShipButton:hover{
    background-color: darkgreen;
}